In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///../data/catastici.db")

# test DB
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM catastici LIMIT 1;")

sqlite
['catastici']

"[(3183, 'liberal', 'campi', 'casa e bottega da barbier', 70, 'campo vicino alla chiesa')]"

In [2]:
import pandas as pd
query_res = pd.read_csv('./test_data_generated.csv')

In [3]:
import ast
def clean_query(sql_query):
    """clean the output"""
    # change to list
    sql_query_list = ast.literal_eval(sql_query)
    
    # split on ;
    sql_query_list = [query.split(';')[0]+';' for query in sql_query_list]
    return sql_query_list

def check_sql_executability(query, db):
    try:
        return db.run(query)
    except:
        return "ERROR"

In [4]:
# clean output
for idx, row in query_res.iterrows():
    query_list_clean = clean_query(row['generated_query'])
    final_out = None
    for out in query_list_clean:
        answer = check_sql_executability(out, db)
        if answer != "ERROR":
            final_out = out
            break
    if final_out == None:
        final_out = '\n'.join(query_list_clean)
        answer = "ERROR"
    query_res.loc[idx,'generated_answer'] = answer
    query_res.loc[idx,'generated_query'] = final_out

# Check

In [5]:
query_res.loc[(query_res['generated_answer']=='ERROR'), 'output'] = 'ERROR'
query_res.loc[(query_res['generated_answer']==query_res['true_answer']), 'output'] = 'EM'

In [6]:
query_res['output'].value_counts()

output
EM       295
ERROR      4
Name: count, dtype: int64

In [7]:
# import os
# os.environ["OPENAI_API_KEY"] = ''

from openai import OpenAI
client = OpenAI()

In [8]:
system_prompt_1 = """You are an assistant that is an expert in assessing Sqlite SQL queries.
You are given a Database Schema, a question, a true SQL query that answers the question and generated SQL query to answer the question.
Compare the true and generated SQL queries and evaluate if the generated query answers the question and acceptable.
Note that true and generated SQL queries are not the same, but both may be accapted as long as they both answer the question.
Respond with YES if generated query is acceptable, or NO if generated query does not answer the question.
"""

# system_prompt_2 = """You are an assistant that is an expert in assessing Sqlite SQL queries.
# You are given a Database Schema, a question and an SQL query to answer the question.
# Look at the SQL query and assess if the query answers the question and acceptable.
# Respond with YES if the query is acceptable, or NO if generated query does not answer the question.
# """

prompt = """### Database Schema
CREATE TABLE [catastici]
(
    [Owner_ID] INT, -- Unique ID of each owner of the property
    [Owner_First_Name] NVARCHAR(30), -- First name of the owner of the property
    [Owner_Family_Name] NVARCHAR(30), -- Family name of the owner of the property
    [Property_Type] NVARCHAR(100), -- Specific type of the property given in Italian. For example, "casa", "bottega da barbier", "bottega da fruttariol".
    [Rent_Income] INT, -- Rent price of the property that the owner receives as income, given in Venice ancient gold coin ducato.
    [Property_Location] NVARCHAR(100) -- Ancient approximate toponym of the property given in Italian.
);

### Question
{question}

### True SQL query
{true_query}

### Generated SQL query
{generated_query}

### Response
"""

In [9]:
example = query_res[query_res.output.isna()].iloc[10]
print(example['question'])
print(example['true_query'])
print(example['generated_query'])

What are the names of everyone holding property ownership?
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici

SELECT "Owner_First_Name", "Owner_Family_Name"
FROM catastici;

In [11]:
response = client.chat.completions.create(
  model="gpt-4-turbo-preview",
  messages=[
    {"role": "system", "content": system_prompt_1},
    {"role": "user", "content": prompt.format(question=example['question'],true_query=example['true_query'],generated_query=example['generated_query'])}
  ]
)
print(response.choices[0].message.content)

NO

In [12]:
responses_1 = {}
for idx, r in query_res[query_res.output.isna()].iterrows():
    response = client.chat.completions.create(
        model="gpt-4-turbo-preview",
        messages=[
            {"role": "system", "content": system_prompt_1},
            {"role": "user", "content": prompt.format(question=r['question'],true_query=r['true_query'],generated_query=r['generated_query'])}
        ]
    )
    responses_1[idx] = response.choices[0].message.content

In [59]:
# responses_2 = {}
# for idx, r in query_res[query_res.output.isna()].iterrows():
#     response = client.chat.completions.create(
#         model="gpt-4-turbo-preview",
#         messages=[
#             {"role": "system", "content": system_prompt_2},
#             {"role": "user", "content": prompt.format(question=r['question'],true_query=r['true_query'],generated_query=r['generated_query'])}
#         ]
#     )
#     responses_2[idx] = response.choices[0].message.content

In [13]:
for k,v in responses_1.items():
    query_res.loc[k, 'output'] = v

In [14]:
query_res.output.value_counts()

output
EM       295
NO       152
YES       49
ERROR      4
Name: count, dtype: int64

In [26]:
query_res.groupby(['output','level_len'])['question_id'].count()

output  level_len
EM      0            270
        1             25
ERROR   0              3
        1              1
NO      0             86
        1             66
YES     0             41
        1              8
Name: question_id, dtype: int64

In [29]:
query_res.groupby(['output','level_nest'])['question_id'].count()

output  level_nest
EM      0             264
        1              31
ERROR   0               3
        1               1
NO      0              83
        1              69
YES     0              45
        1               4
Name: question_id, dtype: int64

**Results**
- Wrong -> 234<br>
    - True -> 49
    - False -> 152
- Error -> 4<br>
- Exact Match -> 295
- True -> **344**

In [31]:
for idx, row in query_res[query_res.output == "ERROR"].iterrows():
    print(f"{idx} - {row['question_id']}")
    print(f"Question: {row['question']}")
    print(f"Evidence: {row['evidence']}")
    print()
    print('True SQL:')
    print(row['true_query'])
    print('Generated SQL:')
    print(row['generated_query'])
    print('\n\n')

212 - 42
Question: What's the standard income derived from leasing properties excluding those in "segue rughetta verso calle del fontico"?
Evidence: "Property_Location" = "segue rughetta verso calle del fontico"

True SQL:
SELECT AVG("Rent_Income")
FROM catastici
WHERE "Property_Location" != 'segue rughetta verso calle del fontico';
Generated SQL:
SELECT STDDEV("Rent_Income")
FROM catastici
WHERE "Property_Location" != 'segue rughetta verso calle del fontico';
SELECT STDDEV("Rent_Income")
FROM catastici
WHERE "Property_Location" != 'segue rughetta verso calle del fontico';
SELECT STDDEV("Rent_Income")
FROM catastici
WHERE "Property_Location" <> 'segue rughetta verso calle del fontico';
SELECT STDDEV("Rent_Income")
FROM catastici
WHERE "Property_Location" != 'segue rughetta verso calle del fontico';



225 - 45
Question: What is the number of households holding ownership of real estate located on "calle corrente dell'occa"?
Evidence: "Property_Location" = "calle corrente dell'occa"

True SQL:
SELECT COUNT(DISTINCT "Owner_Family_Name")
FROM catastici
WHERE "Property_Location" = 'calle corrente dell''occa';
Generated SQL:
SELECT COUNT(*) AS num_households
FROM (
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa'
) AS unique_households;
SELECT COUNT(*) AS num_households
FROM (
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa'
) AS households;
SELECT COUNT(*) AS num_households
FROM (
SELECT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa'
GROUP BY "Owner_First_Name", "Owner_Family_Name"
) AS households;
SELECT COUNT(*) AS num_households
FROM (
SELECT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa'
GROUP BY "Owner_First_Name", "Owner_Family_Name"
) AS households_with_properties;



227 - 45
Question: Among the properties situated on "calle corrente dell'occa", how many are owned by families?
Evidence: "Property_Location" = "calle corrente dell'occa"

True SQL:
SELECT COUNT(DISTINCT "Owner_Family_Name")
FROM catastici
WHERE "Property_Location" = 'calle corrente dell''occa';
Generated SQL:
SELECT COUNT(*)
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa'
AND "Property_Type" = 'famiglia';
SELECT COUNT(*) AS properties_owned_by_families
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa'
AND "Property_Type" = 'famiglia';
SELECT COUNT(*) AS properties_owned_by_families
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa' AND "Property_Type" = 'famiglia';
SELECT COUNT(*) AS properties_owned_by_families
FROM catastici
WHERE "Property_Location" = 'calle corrente dell'occa'
AND "Property_Type" = 'casa';



477 - 95
Question: How does rent revenue allocation work across different properties in "rio terrà"?
Evidence: "Property_Location" = "rio terrà"

True SQL:
SELECT "Property_Type", SUM("Rent_Income") AS Total_Rent_Income, (SUM(Rent_Income) * 100.0) / (SELECT SUM(Rent_Income) FROM catastici WHERE Property_Location = 'rio terrà') AS Percentage
FROM catastici
WHERE "Property_Location" = 'rio terrà'
GROUP BY "Property_Type";
Generated SQL:
table catastici , columns = [ catastici.Owner_ID ( integer ) , catastici.Owner_First_Name ( text ) , catastici.Owner_Family_Name ( text ) , catastici.Property_Type ( text ) , catastici.Rent_Income ( integer ) , catastici.Property_Location ( text )]
Owner_ID -- Unique ID of each owner of the property;
table catastici , columns = [ catastici.Owner_ID ( integer ) , catastici.Owner_First_Name ( text ) , catastici.Owner_Family_Name ( text ) , catastici.Property_Type ( text ) , catastici.Rent_Income ( integer ) , catastici.Property_Location ( text ) ]
Owner_ID -- Unique ID of each owner of the property;
table catastici , columns = [ catastici.Owner_ID ( integer ) , catastici.Owner_First_Name ( text ) , catastici.Owner_Family_Name ( text ) , catastici.Property_Type ( text ) , catastici.Rent_Income ( integer ) , catastici.Property_Location ( text )]
Owner_ID -- Unique ID of each owner of the property ;
table catastici , columns = [ catastici.Owner_ID ( integer ) , catastici.Owner_First_Name ( text ) , catastici.Owner_Family_Name ( text ) , catastici.Property_Type ( text ) , catastici.Rent_Income ( integer ) , catastici.Property_Location ( text )]
Owner_ID -- Unique ID of each owner of the property;

In [30]:
for idx, row in query_res[query_res.output == "NO"].iterrows():
    print(f"{idx} - {row['question_id']}")
    print(f"Question: {row['question']}")
    print(f"Evidence: {row['evidence']}")
    print()
    print('True SQL:')
    print(row['true_query'])
    print('Generated SQL:')
    print(row['generated_query'])
    print('\n\n')

6 - 1
Question: Can you tell me the aggregate amount of properties detailed within the dataset?
Evidence: nan

True SQL:
SELECT COUNT(*) AS Total_Properties
FROM catastici;
Generated SQL:

SELECT SUM("Rent_Income")
FROM catastici;



7 - 1
Question: What's the cumulative figure for properties found in the dataset?
Evidence: nan

True SQL:
SELECT COUNT(*) AS Total_Properties
FROM catastici;
Generated SQL:

SELECT SUM(Rent_Income)
FROM catastici;



10 - 2
Question: Are you able to list every property location included in the dataset?
Evidence: nan

True SQL:
SELECT DISTINCT "Property_Location"
FROM catastici;
Generated SQL:

SELECT "Property_Location"
FROM catastici;



12 - 2
Question: Could you provide the names of all property locations that appear in the dataset?
Evidence: nan

True SQL:
SELECT DISTINCT "Property_Location"
FROM catastici;
Generated SQL:

SELECT "Property_Location"
FROM catastici;



13 - 2
Question: Might you enumerate all the property locations contained in the dataset?
Evidence: nan

True SQL:
SELECT DISTINCT "Property_Location"
FROM catastici;
Generated SQL:

SELECT "Property_Location"
FROM catastici;



14 - 2
Question: Can you name all the property locations in the dataset?
Evidence: nan

True SQL:
SELECT DISTINCT "Property_Location"
FROM catastici;
Generated SQL:

SELECT "Property_Location"
FROM catastici;



19 - 3
Question: What is the total number of properties generating less than 30 ducati in rent?
Evidence: nan

True SQL:
SELECT COUNT(*)
FROM catastici
WHERE Rent_Income < 30;
Generated SQL:

SELECT SUM("Rent_Income") AS Total_Rent_Income
FROM catastici
WHERE "Rent_Income" < 30;



21 - 4
Question: Can you enumerate the properties that have a rental price higher than 38 ducati?
Evidence: nan

True SQL:
SELECT COUNT(*)
FROM catastici
WHERE Rent_Income > 38;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income", "Property_Location"
FROM catastici
WHERE "Rent_Income" > 38;



46 - 9
Question: Can you tell me the count of different property owners found within the dataset?
Evidence: nan

True SQL:
SELECT COUNT(DISTINCT "Owner_ID") AS unique_owners
FROM catastici;
Generated SQL:

SELECT COUNT(DISTINCT "Owner_First_Name") AS num_owners
FROM catastici;



52 - 10
Question: Kindly provide the full roster of property owners.
Evidence: nan

True SQL:
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
Generated SQL:

SELECT *
FROM catastici;



53 - 10
Question: What are the names of everyone holding property ownership?
Evidence: nan

True SQL:
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name"
FROM catastici;



63 - 12
Question: What's the variety in the number of locations for the properties?
Evidence: nan

True SQL:
SELECT COUNT(DISTINCT "Property_Location") AS num_locations
FROM catastici;
Generated SQL:

SELECT "Property_Location", COUNT(DISTINCT "Property_Type") AS num_types
FROM catastici
GROUP BY "Property_Location"
ORDER BY num_types DESC
LIMIT 1;



86 - 17
Question: In the dataset, how many properties differ from the "altro appartamento" type?
Evidence: "Property_Type" = "altro appartamento"

True SQL:
SELECT COUNT(*)
FROM catastici
WHERE "Property_Type" != 'altro appartamento';
Generated SQL:

SELECT "Property_Type", COUNT("Property_Type") AS Property_Count
FROM catastici
WHERE "Property_Type" = "altro appartamento"
GROUP BY "Property_Type";



87 - 17
Question: Can you tell me the number of properties within the dataset that do not fall under the "altro appartamento" category?
Evidence: "Property_Type" = "altro appartamento"

True SQL:
SELECT COUNT(*)
FROM catastici
WHERE "Property_Type" != 'altro appartamento';
Generated SQL:

SELECT COUNT(*)
FROM catastici
WHERE "Property_Type" = "altro appartamento";



88 - 17
Question: Regarding the dataset, what is the total amount of properties excluding those labeled as "altro appartamento"?
Evidence: "Property_Type" = "altro appartamento"

True SQL:
SELECT COUNT(*)
FROM catastici
WHERE "Property_Type" != 'altro appartamento';
Generated SQL:

SELECT "Property_Type", COUNT("Property_Type") AS Property_Count, (COUNT("Property_Type") * 100.0 / (SELECT COUNT(*) FROM catastici)) AS Proportion
FROM catastici
WHERE "Property_Type" != "altro appartamento"
GROUP BY "Property_Type";



93 - 18
Question: Regarding properties with a threshold of more than 10 ducati, what does the rental income amount to?
Evidence: nan

True SQL:
SELECT SUM("Rent_Income") AS Total_Rent_Income
FROM catastici
WHERE "Rent_Income" > 10;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income", "Property_Location"
FROM catastici
WHERE "Rent_Income" > 10;



100 - 20
Question: Which property generates the least amount of rent income?
Evidence: nan

True SQL:
SELECT "Property_Type", "Rent_Income"
FROM catastici
ORDER BY "Rent_Income" ASC
LIMIT 1;
Generated SQL:

SELECT "Property_Type", MIN("Rent_Income") AS min_rent
FROM catastici
GROUP BY "Property_Type"
ORDER BY min_rent
LIMIT 1;



102 - 20
Question: Of all the properties, which one yields the lowest rent income?
Evidence: nan

True SQL:
SELECT "Property_Type", "Rent_Income"
FROM catastici
ORDER BY "Rent_Income" ASC
LIMIT 1;
Generated SQL:

SELECT "Property_Type", MIN("Rent_Income") AS min_rent
FROM catastici
GROUP BY "Property_Type"
ORDER BY min_rent
LIMIT 1;



112 - 22
Question: Who are the proprietors of estates with a rent revenue of 30?
Evidence: nan

True SQL:
SELECT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Rent_Income" = 30;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income", "Property_Location"
FROM catastici
WHERE "Rent_Income" = 30;



117 - 23
Question: What's the sum of properties owned collectively by the "rissardi" family?
Evidence: "Owner_Family_Name" = "rissardi"

True SQL:
SELECT COUNT(*) AS Total_Properties
FROM catastici
WHERE "Owner_Family_Name" = 'rissardi';
Generated SQL:
SELECT SUM("Rent_Income")
FROM catastici
WHERE "Owner_Family_Name" = 'rissardi';



120 - 24
Question: What is the average number of properties for each property type?
Evidence: nan

True SQL:
SELECT "Property_Type", COUNT(*) AS num_properties
FROM catastici
GROUP BY "Property_Type";
Generated SQL:

SELECT "Property_Type", AVG(num_properties) AS average_properties
FROM (
SELECT "Property_Type", COUNT(*) AS num_properties
FROM catastici
GROUP BY "Property_Type"
) AS property_counts
GROUP BY "Property_Type";



122 - 24
Question: For every property type, how do the numbers of properties average out?
Evidence: nan

True SQL:
SELECT "Property_Type", COUNT(*) AS num_properties
FROM catastici
GROUP BY "Property_Type";
Generated SQL:

SELECT "Property_Type", AVG(num_properties) AS average_properties
FROM (
SELECT "Property_Type", COUNT(*) AS num_properties
FROM catastici
GROUP BY "Property_Type"
) AS property_counts
GROUP BY "Property_Type";



140 - 28
Question: What is the count of properties being leased for an amount below the average rent income?
Evidence: nan

True SQL:
SELECT COUNT(*)
FROM catastici
WHERE Rent_Income < (SELECT AVG(Rent_Income) FROM catastici);
Generated SQL:

SELECT COUNT("Property_Type")
FROM catastici
WHERE "Rent_Income" < (
SELECT AVG("Rent_Income")
FROM (
SELECT "Rent_Income", ROW_NUMBER() OVER (ORDER BY "Rent_Income") AS row_num,
COUNT(*) OVER () AS total_count
FROM catastici)
WHERE row_num IN ((total_count + 1) / 2, (total_count + 2) / 2));



142 - 28
Question: How many properties are on lease for a fee lower than the average rent income?
Evidence: nan

True SQL:
SELECT COUNT(*)
FROM catastici
WHERE Rent_Income < (SELECT AVG(Rent_Income) FROM catastici);
Generated SQL:

SELECT COUNT("Property_Type")
FROM catastici
WHERE "Rent_Income" <= (
SELECT AVG("Rent_Income")
FROM (
SELECT "Rent_Income", ROW_NUMBER() OVER (ORDER BY "Rent_Income") AS row_num,
COUNT(*) OVER () AS total_count
FROM catastici)
WHERE row_num IN ((total_count + 1) / 2, (total_count + 2) / 2));



156 - 31
Question: What is the usual income from rent for properties situated in "al ponte di san provolo"?
Evidence: "Property_Location" = "al ponte di san provolo"

True SQL:
SELECT AVG("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'al ponte di san provolo';
Generated SQL:
SELECT SUM("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'al ponte di san provolo';



171 - 34
Question: Can you identify the families that hold estates in "rio san baseggio"?
Evidence: "Property_Location" = "rio san baseggio"

True SQL:
SELECT DISTINCT "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'rio san baseggio';
Generated SQL:
SELECT "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'rio san baseggio';



173 - 34
Question: Which family-owned properties can be found in "rio san baseggio"?
Evidence: "Property_Location" = "rio san baseggio"

True SQL:
SELECT DISTINCT "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'rio san baseggio';
Generated SQL:
SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income"
FROM catastici
WHERE "Property_Location" = 'rio san baseggio';



174 - 34
Question: Which families own property in "rio san baseggio"?
Evidence: "Property_Location" = "rio san baseggio"

True SQL:
SELECT DISTINCT "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'rio san baseggio';
Generated SQL:
SELECT "Owner_Family_Name"
FROM catastici
WHERE "Property_Location" = 'rio san baseggio';



181 - 36
Question: What sum represents the mean rent yield per property class?
Evidence: nan

True SQL:
SELECT "Property_Type", AVG("Rent_Income") AS Avg_Rent_Income
FROM catastici
GROUP BY "Property_Type";
Generated SQL:

SELECT "Property_Type", SUM("Rent_Income") AS Mean_Rent_Yield
FROM catastici
GROUP BY "Property_Type";



192 - 38
Question: In every property location, what's the norm for rent income?
Evidence: nan

True SQL:
SELECT "Property_Location", AVG("Rent_Income") AS avg_rent_income
FROM catastici
GROUP BY "Property_Location";
Generated SQL:

SELECT "Property_Location", AVG("Rent_Income") AS avg_rent
FROM catastici
GROUP BY "Property_Location"
ORDER BY avg_rent
LIMIT 1;



195 - 39
Question: Who are the proprietors possessing real estate with rents fluctuating between 20 to 100 ducati?
Evidence: nan

True SQL:
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income", "Property_Location"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;



196 - 39
Question: Identify the landlords whose estates have rental prices oscillating within the 20 to 100 ducati bracket?
Evidence: nan

True SQL:
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income", "Property_Location"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;



197 - 39
Question: Can you list the owners who control properties where the lease amounts vary from 20 to 100 ducati?
Evidence: nan

True SQL:
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;
Generated SQL:

SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Lease_Amount" BETWEEN 20 AND 100;



198 - 39
Question: What individuals have ownership of assets that feature rent amounts ranging between 20 and 100 ducati?
Evidence: nan

True SQL:
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income", "Property_Location"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;



199 - 39
Question: Which owners have properties with varying rent in range 20 to 100 ducati?
Evidence: nan

True SQL:
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", "Property_Type", "Rent_Income", "Property_Location"
FROM catastici
WHERE "Rent_Income" BETWEEN 20 AND 100;



200 - 40
Question: What's the interval of rental earnings found on "calle de franchi"?
Evidence: "Property_Location" = "calle de franchi"

True SQL:
SELECT MIN("Rent_Income"), MAX("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'calle de franchi';
Generated SQL:
SELECT MAX("Rent_Income") - MIN("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'calle de franchi';



201 - 40
Question: Can you tell me about the spectrum of rents collected on "calle de franchi"?
Evidence: "Property_Location" = "calle de franchi"

True SQL:
SELECT MIN("Rent_Income"), MAX("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'calle de franchi';
Generated SQL:
SELECT "Rent_Income"
FROM catastici
WHERE "Property_Location" = 'calle de franchi';



202 - 40
Question: What does the scale of leasing revenues look like in "calle de franchi"?
Evidence: "Property_Location" = "calle de franchi"

True SQL:
SELECT MIN("Rent_Income"), MAX("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'calle de franchi';
Generated SQL:
SELECT "Rent_Income"
FROM catastici
WHERE "Property_Location" = 'calle de franchi';



204 - 40
Question: What is the range of rent incomes in "calle de franchi"?
Evidence: "Property_Location" = "calle de franchi"

True SQL:
SELECT MIN("Rent_Income"), MAX("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'calle de franchi';
Generated SQL:
SELECT MAX("Rent_Income") - MIN("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'calle de franchi';



206 - 41
Question: On average, how much income do families earn from renting out property?
Evidence: nan

True SQL:
SELECT "Owner_Family_Name", AVG("Rent_Income") AS avg_rent_income
FROM catastici
GROUP BY "Owner_Family_Name";
Generated SQL:

SELECT AVG("Rent_Income")
FROM catastici;



210 - 42
Question: How much rental income is typically received from properties located outside of "segue rughetta verso calle del fontico" on average?
Evidence: "Property_Location" = "segue rughetta verso calle del fontico"

True SQL:
SELECT AVG("Rent_Income")
FROM catastici
WHERE "Property_Location" != 'segue rughetta verso calle del fontico';
Generated SQL:
SELECT AVG("Rent_Income")
FROM catastici
WHERE "Property_Location" = 'segue rughetta verso calle del fontico';



211 - 42
Question: Can you tell me the usual earnings from renting properties that are not within "segue rughetta verso calle del fontico"?
Evidence: "Property_Location" = "segue rughetta verso calle del fontico"

True SQL:
SELECT AVG("Rent_Income")
FROM catastici
WHERE "Property_Location" != 'segue rughetta verso calle del fontico';
Generated SQL:
SELECT SUM("Rent_Income")
FROM catastici
WHERE "Property_Location" != 'segue rughetta verso calle del fontico';



215 - 43
Question: How much income does "carlo" "gritti" generate from rent on his property?
Evidence: "Owner_First_Name" = "carlo"; "Owner_Family_Name" = "gritti"

True SQL:
SELECT SUM("Rent_Income")
FROM catastici
WHERE "Owner_First_Name" = 'carlo' AND "Owner_Family_Name" = 'gritti';
Generated SQL:
SELECT "Rent_Income"
FROM catastici
WHERE "Owner_First_Name" = 'carlo' AND "Owner_Family_Name" = 'gritti';



222 - 44
Question: From a single property, who secures the most in rental earnings and how substantial is the sum?
Evidence: nan

True SQL:
SELECT "Owner_First_Name", "Owner_Family_Name", "Rent_Income"
FROM catastici
ORDER BY "Rent_Income" DESC
LIMIT 1;
Generated SQL:

SELECT "Owner_First_Name", "Owner_Family_Name", SUM("Rent_Income") AS "Total_Rent_Income"
FROM catastici
GROUP BY "Owner_First_Name", "Owner_Family_Name"
ORDER BY "Total_Rent_Income" DESC
LIMIT 1;



228 - 45
Question: Regarding "calle corrente dell'occa", how many family-owned properties exist there?
Evidence: "Property_Location" = "calle corrente dell'occa"

True SQL:
SELECT COUNT(DISTINCT "Owner_Family_Name")
FROM catastici
WHERE "Property_Location" = 'calle corrente dell''occa';
Generated SQL:
SELECT COUNT(*) AS family_owned_properties
FROM catastici
WHERE "Property_Location" = 'calle corrente dell''occa';



239 - 47
Question: What types of properties does "marin" "bernardo" have?
Evidence: "Owner_First_Name" = "marin"; "Owner_First_Name" = "bernardo"

True SQL:
SELECT DISTINCT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'marin' AND "Owner_Family_Name" = 'bernardo';
Generated SQL:
SELECT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'marin' AND "Owner_Family_Name" = 'bernardo';



243 - 48
Question: Provide a catalog of the diverse property classifications owned by "marin" "bernardo".
Evidence: "Owner_First_Name" = "marin"; "Owner_First_Name" = "bernardo"

True SQL:
SELECT DISTINCT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'marin' AND "Owner_Family_Name" = 'bernardo';
Generated SQL:
SELECT *
FROM catastici
WHERE "Owner_First_Name" = 'marin' AND "Owner_Family_Name" = 'bernardo';



247 - 49
Question: What is the base level of earnings for "francesco" "giustinian"?
Evidence: "Owner_First_Name" = "francesco"; "Owner_First_Name" = "giustinian"

True SQL:
SELECT MIN("Rent_Income")
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'giustinian';
Generated SQL:
SELECT "Rent_Income"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'giustinian';



248 - 49
Question: What figure represents the lowest wage of "francesco" "giustinian"?
Evidence: "Owner_First_Name" = "francesco"; "Owner_First_Name" = "giustinian"

True SQL:
SELECT MIN("Rent_Income")
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'giustinian';
Generated SQL:
SELECT "Owner_First_Name", "Owner_Family_Name", "Rent_Income"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'giustinian'
AND Rent_Income = ( SELECT MIN("Rent_Income")
FROM catastici
ORDER BY "Rent_Income" ASC
LIMIT 1);



257 - 51
Question: What variety of assets is held by "francesco" "patarol" in terms of property?
Evidence: "Owner_First_Name" = "francesco"; "Owner_Family_Name" = "patarol"

True SQL:
SELECT DISTINCT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'patarol';
Generated SQL:
SELECT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'patarol';



258 - 51
Question: Regarding property, what classifications fall under the ownership of "francesco" "patarol"?
Evidence: "Owner_First_Name" = "francesco"; "Owner_Family_Name" = "patarol"

True SQL:
SELECT DISTINCT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'patarol';
Generated SQL:
SELECT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'patarol';



259 - 51
Question: What are the types of properties owned by "francesco" "patarol"?
Evidence: "Owner_First_Name" = "francesco"; "Owner_Family_Name" = "patarol"

True SQL:
SELECT DISTINCT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'patarol';
Generated SQL:
SELECT "Property_Type"
FROM catastici
WHERE "Owner_First_Name" = 'francesco' AND "Owner_Family_Name" = 'patarol';



265 - 53
Question: What is the count of property varieties that are exclusive to specific locations?
Evidence: nan

True SQL:
SELECT "Property_Location", COUNT(DISTINCT "Property_Type") AS unique_property_types
FROM catastici
GROUP BY "Property_Location";
Generated SQL:

SELECT "Property_Location", COUNT(*) AS num_properties
FROM catastici
GROUP BY "Property_Location"
HAVING num_properties = 1;



267 - 53
Question: How many categories of properties are solely found in certain locations?