In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///../data/catastici.db")

# test DB
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM catastici LIMIT 1;")

sqlite
['catastici']

"[(0, 3183, 'liberal', 'campi', 'casa e bottega da barbier', 70, 'campo vicino alla chiesa')]"

In [2]:
from collections import Counter
import pandas as pd
import ast
import re
import warnings
warnings.filterwarnings('ignore')

def clean_query(sql_query):
    """clean the output"""
    # change to list
    sql_query_list = ast.literal_eval(sql_query)
    
    # split on ;
    sql_query_list = [query.split(';')[0].strip() + ';' for query in sql_query_list]
    # sql_query_list = [query.split(';')[0].split('[/SQL]')[0].strip() + ';' for query in sql_query_list]
    
    # replace ' with ''
    sql_query_list = [re.sub(r"([a-z])'([a-z])",r"\1''\2", query) for query in sql_query_list]

    return sql_query_list

def check_sql_executability(query, db):
    try:
        return db.run(query)
    except Exception as e:
        return str(e)
     
def find_most_common_answer(answers):
    answers = ["ERROR" if "error" in answer else answer for answer in answers]
    most_common_answer, most_common_count = Counter(answers).most_common(1)[0]
    if most_common_answer == "ERROR":
        if most_common_count == 4:
            return most_common_answer
        else:
            return Counter(answers).most_common(2)[1][0]

    return most_common_answer

def clean_answer(answer, to_replace = ['[', ']', '(', ',)', "'", ')']):
    pattern = '|'.join(map(re.escape, to_replace))
    cleaned_answer = re.sub(pattern, '', answer)
    return [ans.strip() for ans in cleaned_answer.split(',')]

def ngram_overlap(true_answer, generated_answer):
    """Calculates 1-gram overlap"""
    # Convert lists to sets to remove duplicates
    true_set = set(true_answer)
    generated_set = set(generated_answer)
    
    # Calculate the intersection of the sets
    overlap_count = len(true_set.intersection(generated_set))
    
    # Calculate the percentage of overlap
    overlap_percentage = overlap_count / len(true_set) if len(true_set) > 0 else 0.0
    
    return round(overlap_percentage, 3)

# Zero shot

In [3]:
# import the dataset
query_res = pd.read_csv('./test_data_generated_0.csv')

# clean output
for idx, row in query_res.iterrows():
    query_list_clean = clean_query(row['generated_query'])
    final_out = None
    answers = []
    for out in query_list_clean:
        answers.append(check_sql_executability(out, db))
    answer = find_most_common_answer(answers)
    
    if answer != "ERROR":
        final_out = query_list_clean[answers.index(answer)]
    if final_out == None:
        final_out = query_list_clean[0]
        answer = check_sql_executability(final_out, db)
    query_res.loc[idx,'generated_answer'] = answer
    query_res.loc[idx,'generated_query'] = final_out
    
query_res.loc[(query_res['generated_answer'].str.contains("error")), 'output'] = 'ERROR'
query_res.loc[(query_res['generated_answer']==query_res['true_answer']), 'output'] = 'EM'
query_res['output'].value_counts()

output
EM       193
ERROR      7
Name: count, dtype: int64

In [4]:
query_wrong = query_res[query_res.output.isna()]
query_wrong.true_answer.fillna("",inplace=True)

query_wrong['generated_answer_clean'] = query_wrong['generated_answer'].apply(clean_answer)
query_wrong['true_answer_clean'] = query_wrong['true_answer'].apply(clean_answer)

n_gram = []
for _, row in query_wrong.iterrows():
    n_gram.append(ngram_overlap(row['true_answer_clean'], row['generated_answer_clean']))
query_wrong['n_gram_overlap'] = n_gram
query_wrong['output'] = query_wrong['n_gram_overlap']>0.33

query_wrong['output'].value_counts()

output
True     169
False    131
Name: count, dtype: int64

# 3-shot

In [5]:
# import the dataset
query_res = pd.read_csv('./test_data_generated_3.csv')

# clean output
for idx, row in query_res.iterrows():
    query_list_clean = clean_query(row['generated_query'])
    final_out = None
    answers = []
    for out in query_list_clean:
        answers.append(check_sql_executability(out, db))
    answer = find_most_common_answer(answers)
    
    if answer != "ERROR":
        final_out = query_list_clean[answers.index(answer)]
    if final_out == None:
        final_out = query_list_clean[0]
        answer = check_sql_executability(final_out, db)
    query_res.loc[idx,'generated_answer'] = answer
    query_res.loc[idx,'generated_query'] = final_out
    
query_res.loc[(query_res['generated_answer'].str.contains("error")), 'output'] = 'ERROR'
query_res.loc[(query_res['generated_answer']==query_res['true_answer']), 'output'] = 'EM'
query_res['output'].value_counts()

output
EM    282
Name: count, dtype: int64

In [6]:
query_wrong = query_res[query_res.output.isna()]
query_wrong.true_answer.fillna("",inplace=True)

query_wrong['generated_answer_clean'] = query_wrong['generated_answer'].apply(clean_answer)
query_wrong['true_answer_clean'] = query_wrong['true_answer'].apply(clean_answer)

n_gram = []
for _, row in query_wrong.iterrows():
    n_gram.append(ngram_overlap(row['true_answer_clean'], row['generated_answer_clean']))
query_wrong['n_gram_overlap'] = n_gram
query_wrong['output'] = query_wrong['n_gram_overlap']>0.33

query_wrong['output'].value_counts()

output
False    115
True     103
Name: count, dtype: int64

In [7]:
columns = ['question_id','level_len','level_nest','question','true_query','true_answer','matched_contents','generated_query','generated_answer','output']
query_3 = pd.concat([query_res[query_res['output'].notna()], query_wrong], axis=0)[columns].rename({
        'generated_query':'generated_query_3', 
        'generated_answer':'generated_answer_3', 
        'output':'output_3'},axis=1
    )
query_3['output_3'].value_counts()

output_3
EM       282
False    115
True     103
Name: count, dtype: int64

# 5-shot

In [8]:
# import the dataset
query_res = pd.read_csv('./test_data_generated_5.csv')

# clean output
for idx, row in query_res.iterrows():
    query_list_clean = clean_query(row['generated_query'])
    final_out = None
    answers = []
    for out in query_list_clean:
        answers.append(check_sql_executability(out, db))
    answer = find_most_common_answer(answers)
    
    if answer != "ERROR":
        final_out = query_list_clean[answers.index(answer)]
    if final_out == None:
        final_out = query_list_clean[0]
        answer = check_sql_executability(final_out, db)
    query_res.loc[idx,'generated_answer'] = answer
    query_res.loc[idx,'generated_query'] = final_out
    
query_res.loc[(query_res['generated_answer'].str.contains("error")), 'output'] = 'ERROR'
query_res.loc[(query_res['generated_answer']==query_res['true_answer']), 'output'] = 'EM'
query_res['output'].value_counts()

output
EM    287
Name: count, dtype: int64

In [9]:
query_wrong = query_res[query_res.output.isna()]
query_wrong.true_answer.fillna("",inplace=True)

query_wrong['generated_answer_clean'] = query_wrong['generated_answer'].apply(clean_answer)
query_wrong['true_answer_clean'] = query_wrong['true_answer'].apply(clean_answer)

n_gram = []
for _, row in query_wrong.iterrows():
    n_gram.append(ngram_overlap(row['true_answer_clean'], row['generated_answer_clean']))
query_wrong['n_gram_overlap'] = n_gram
query_wrong['output'] = query_wrong['n_gram_overlap']>0.33

query_wrong['output'].value_counts()

output
True     110
False    103
Name: count, dtype: int64

In [10]:
columns = ['question_id','level_len','level_nest','question','true_query','true_answer','matched_contents','generated_query','generated_answer','output']
query_5 = pd.concat([query_res[query_res['output'].notna()], query_wrong], axis=0)[columns].rename({
        'generated_query':'generated_query_5', 
        'generated_answer':'generated_answer_5', 
        'output':'output_5'},axis=1
    )
query_5['output_5'].value_counts()

output_5
EM       287
True     110
False    103
Name: count, dtype: int64

# 7-shot

In [11]:
# import the dataset
query_res = pd.read_csv('./test_data_generated_7.csv')

# clean output
for idx, row in query_res.iterrows():
    query_list_clean = clean_query(row['generated_query'])
    final_out = None
    answers = []
    for out in query_list_clean:
        answers.append(check_sql_executability(out, db))
    answer = find_most_common_answer(answers)
    
    if answer != "ERROR":
        final_out = query_list_clean[answers.index(answer)]
    if final_out == None:
        final_out = query_list_clean[0]
        answer = check_sql_executability(final_out, db)
    query_res.loc[idx,'generated_answer'] = answer
    query_res.loc[idx,'generated_query'] = final_out
    
query_res.loc[(query_res['generated_answer'].str.contains("error")), 'output'] = 'ERROR'
query_res.loc[(query_res['generated_answer']==query_res['true_answer']), 'output'] = 'EM'
query_res['output'].value_counts()

output
EM    292
Name: count, dtype: int64

In [12]:
query_wrong = query_res[query_res.output.isna()]
query_wrong.true_answer.fillna("",inplace=True)

query_wrong['generated_answer_clean'] = query_wrong['generated_answer'].apply(clean_answer)
query_wrong['true_answer_clean'] = query_wrong['true_answer'].apply(clean_answer)

n_gram = []
for _, row in query_wrong.iterrows():
    n_gram.append(ngram_overlap(row['true_answer_clean'], row['generated_answer_clean']))
query_wrong['n_gram_overlap'] = n_gram
query_wrong['output'] = query_wrong['n_gram_overlap']>0.33

query_wrong['output'].value_counts()

output
True     105
False    103
Name: count, dtype: int64

In [13]:
columns = ['question_id','level_len','level_nest','question','true_query','true_answer','matched_contents','generated_query','generated_answer','output']
query_7 = pd.concat([query_res[query_res['output'].notna()], query_wrong], axis=0)[columns].rename({
        'generated_query':'generated_query_7', 
        'generated_answer':'generated_answer_7', 
        'output':'output_7'},axis=1
    )
query_7['output_7'].value_counts()

output_7
EM       292
True     105
False    103
Name: count, dtype: int64

# 5-shot - 15b model

In [14]:
# import the dataset
query_res = pd.read_csv('./test_data_generated_5_15b.csv')

# clean output
for idx, row in query_res.iterrows():
    query_list_clean = clean_query(row['generated_query'])
    final_out = None
    answers = []
    for out in query_list_clean:
        answers.append(check_sql_executability(out, db))
    answer = find_most_common_answer(answers)
    
    if answer != "ERROR":
        final_out = query_list_clean[answers.index(answer)]
    if final_out == None:
        final_out = query_list_clean[0]
        answer = check_sql_executability(final_out, db)
    query_res.loc[idx,'generated_answer'] = answer
    query_res.loc[idx,'generated_query'] = final_out
    
query_res.loc[(query_res['generated_answer'].str.contains("error")), 'output'] = 'ERROR'
query_res.loc[(query_res['generated_answer']==query_res['true_answer']), 'output'] = 'EM'
query_res['output'].value_counts()

output
EM    306
Name: count, dtype: int64

In [15]:
query_wrong = query_res[query_res.output.isna()]
query_wrong.true_answer.fillna("",inplace=True)

query_wrong['generated_answer_clean'] = query_wrong['generated_answer'].apply(clean_answer)
query_wrong['true_answer_clean'] = query_wrong['true_answer'].apply(clean_answer)

n_gram = []
for _, row in query_wrong.iterrows():
    n_gram.append(ngram_overlap(row['true_answer_clean'], row['generated_answer_clean']))
query_wrong['n_gram_overlap'] = n_gram
query_wrong['output'] = query_wrong['n_gram_overlap']>0.33

query_wrong['output'].value_counts()

output
True     98
False    96
Name: count, dtype: int64

In [16]:
columns = ['question_id','level_len','level_nest','question','true_query','true_answer','matched_contents','generated_query','generated_answer','output']
query_res = pd.concat([query_res[query_res['output'].notna()], query_wrong], axis=0)[columns]
query_res['output'].value_counts()

output
EM       306
True      98
False     96
Name: count, dtype: int64

In [17]:
# difficulty
query_res['output_binary'] = (query_res.output!=False)

print(query_res.groupby('level_len')['output_binary'].mean())
print(query_res.groupby('level_nest')['output_binary'].mean())
query_res.drop('output_binary',axis=1,inplace=True)

level_len
0    0.90
1    0.44
Name: output_binary, dtype: float64
level_nest
0    0.898734
1    0.466667
Name: output_binary, dtype: float64

# All

In [18]:
query = pd.merge(query_3, query_5, on=['question_id','level_len','level_nest','question','true_query','true_answer','matched_contents'])
query = pd.merge(query, query_7, on=['question_id','level_len','level_nest','question','true_query','true_answer','matched_contents'])

In [19]:
print(query_3['output_3'].value_counts())
print(query_5['output_5'].value_counts())
print(query_7['output_7'].value_counts())

output_3
EM       282
False    115
True     103
Name: count, dtype: int64
output_5
EM       287
True     110
False    103
Name: count, dtype: int64
output_7
EM       292
True     105
False    103
Name: count, dtype: int64

In [20]:
# difficulty
query['output_binary'] = (query.output_5!=False)

print(query.groupby('level_len')['output_binary'].mean())
print(query.groupby('level_nest')['output_binary'].mean())
query.drop('output_binary',axis=1,inplace=True)

level_len
0    0.8775
1    0.4600
Name: output_binary, dtype: float64
level_nest
0    0.883544
1    0.457143
Name: output_binary, dtype: float64

In [23]:
query.to_csv('test_data_eval_5.csv', index=False)

In [21]:
for idx, row in query_wrong[query_wrong.output == False].sample(5).iterrows():
    print(f"{idx} - {row['question_id']}")
    print(f"Question: {row['question']}")
    # print(f"N-gram: {row['n_gram_overlap']}")
    print(f"True Answer: {row['true_answer']}")
    print(f"Generated Answer: {row['generated_answer']}")
    print()
    print('True SQL:')
    print(row['true_query'])
    print('Generated SQL:')
    print(row['generated_query'])
    print('\n\n')

428 - 85
Question: What sum of rent income is produced by the elite five earners?
True Answer: [(23954,)]
Generated Answer: [(17038,)]

True SQL:
SELECT SUM("Rent_Income") AS Total_Rent_Income
FROM catastici
WHERE ("Owner_First_Name", "Owner_Family_Name") IN (
SELECT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
ORDER BY "Rent_Income" DESC
LIMIT 5
);
Generated SQL:
SELECT SUM("Rent_Income") AS Total_Rent_Income
FROM catastici
WHERE "Owner_ID" IN (
	SELECT "Owner_ID"
	FROM catastici
	GROUP BY "Owner_ID"
	ORDER BY COUNT("Owner_ID") DESC
	LIMIT 5
);



456 - 91
Question: What is the number of property holders who earn over 100 ducati from rents in total?
True Answer: [(1113,)]
Generated Answer: [(489,)]

True SQL:
SELECT COUNT(*) AS owners_with_more_than_100_income
FROM (
SELECT DISTINCT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
GROUP BY "Owner_First_Name", "Owner_Family_Name"
HAVING SUM("Rent_Income") > 100
) AS owners_with_income_above_100;
Generated SQL:
SELECT COUNT(DISTINCT "Owner_ID")
FROM catastici
WHERE "Rent_Income" > 100;



344 - 68
Question: What percentage of the total rent income is generated by "bottega da fabro" type of properties?
True Answer: [(0.03392513852764899,)]
Generated Answer: [(0,)]

True SQL:
SELECT 100.0 * SUM(CASE WHEN "Property_Type" = 'bottega da fabro' THEN "Rent_Income" ELSE 0 END) / SUM("Rent_Income") AS Fabro_Rent_Income_Percentage
FROM catastici;
Generated SQL:
SELECT SUM(CASE WHEN "Property_Type" = 'bottega da fabro' THEN Rent_Income ELSE 0 END) / SUM("Rent_Income") * 100 AS percentage
FROM catastici;



450 - 90
Question: Do various families own properties of the same kind located at "loco vicino la calle del paradiso"?
True Answer:
Generated Answer: [(0,)]

True SQL:
SELECT "Property_Type", COUNT(DISTINCT "Owner_Family_Name") AS num_families
FROM catastici
WHERE "Property_Location" = 'loco vicino la calle del paradiso'
GROUP BY "Property_Type"
HAVING COUNT(DISTINCT "Owner_Family_Name") > 1
limit 1;
Generated SQL:
SELECT COUNT(DISTINCT "Owner_Family_Name")
FROM catastici
WHERE "Property_Location" = 'loco vicino la calle del paradiso' AND "Property_Type" = 'casa';



425 - 85
Question: How much do the top 5 earners generate in total rental income?
True Answer: [(23954,)]
Generated Answer: [(548266,)]

True SQL:
SELECT SUM("Rent_Income") AS Total_Rent_Income
FROM catastici
WHERE ("Owner_First_Name", "Owner_Family_Name") IN (
SELECT "Owner_First_Name", "Owner_Family_Name"
FROM catastici
ORDER BY "Rent_Income" DESC
LIMIT 5
);
Generated SQL:
SELECT SUM("Rent_Income") AS Total_Rent_Income
FROM catastici
ORDER BY Total_Rent_Income DESC
LIMIT 5;